::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(40, 40, 40, 1);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(55, 55, 55);
}

.footer-container {
    background-color: rgb(40,40,40);
    padding-bottom: 4rem;
}

footer {
    background-color: rgb(40, 40, 40);
    margin: -10px;
    min-height: 150px;
    position: relative;
    margin-top: -100px;
    clear: both;
}

footer a {
    color: lightblue;
    margin-bottom: 0.5rem;
    margin: 18px;
}

footer h2{
    color: white;
    margin: 18px;
}

.main {
    margin: 10px;
    margin-top: 40px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

p {
    color: white;
}

a {
    color: lightblue;
}

label {
    color: white;

}

input {
    background-color: rgb(80, 80, 80);
    border: none;
    color: white;
}

button {
    color: white;
    background-color: rgb(43, 43, 43);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(35, 35, 35);
}

.scroll-container {
    width: 99vw;
    height: 500px;
    overflow: auto;
}

.content {
    height: 500px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-li {
    float: left;
}

#navbar-li a {
    display: block;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 14px 16px;
    text-align: center;
}

#navbar-li a:hover {
    background-color: rgb(20, 20, 20);
}
